<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sesiones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body class="row m-0 bg-primary justify-content-center align-items-center vh-100">
    <div class="col-sm-4 bg-white text-center">
      <h1 class="text-center">Hola</h1>
      <a href="logout.php">Cerrar sesión</a>
    </div>
  </body>
</html>
 