body {
  font-size: 16px;
}

body:after {
  content: "Laboratorio 6"; 
  font-size: 8em;  
  color: rgba(248, 187, 208, 0.4);
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#contenedor {
  width: 580px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}

.animales {  
  width: 580px;
  height: 120px;
  display: flex;
}

.tipo {
 flex-grow: 1;
}

#invertebrado {
 background-color: #CA59F5;
}

#vertebrado {
  background-color: #F5598E;
}

#resultado {
  text-align: center;
  font-size: 30px;
}

.animal {
   margin: 10px;
   height: 80px;
   width: 80px;
}

input[id^="pista"]{
display: none;
}

input[id^="pista"] + label {
display: block;
width: 200px;
margin: 0 auto;
padding: 5px 20px;
background: #F5A059;
cursor: pointer;
}

input[id^="pista"]:checked + label {
color: #333;
background: #ccc;
}

input[id^="pista"] ~ .pista {
width: 90%;
height: 0;
overflow: hidden;
opacity: 0;
margin: 10px auto 0;
}

input[id^="pista"]:checked + label + .pista{
height: auto;
opacity: 1;
}


